@font-face {
  font-family: "Montserrat";
  /* Thay đổi đuôi file */
  src: url("/fonts/Montserrat-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  /* Thay đổi đuôi file */
  src: url("/fonts/Montserrat-SemiBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  /* Thay đổi đuôi file */
  src: url("/fonts/Montserrat-Medium.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
